{
  "swagger": "2.0",
  "info": {
    "title": "REST API",
    "description": "# Welcome to Coinbase Exchange API\n## Introduction\nThe Exchange Trading APIs allow institutions to place orders and access account information. The following API pages detail various REST API endpoints we offer for lower-frequency trading and general requests.\n## Getting Started\nTo get started, please visit one of the following pages:\n- [Authentication](/exchange/docs/rest-auth)\n- [Rate Limits](/exchange/docs/rest-rate-limits)\n- [Pagination](/exchange/docs/rest-pagination)\n- [Status Codes](/exchange/docs/rest-requests)\n- [Quickstart](/exchange/docs/getting-started)\n## FIX API\n- [FIX API reference](/exchange/docs/fix-connectivity)\n## WebSocket API\n- [WebSocket API reference](/exchange/docs/websocket-overview)",
    "version": "1.0"
  },
  "host": "api.exchange.coinbase.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Get all accounts for a profile",
        "description": "Get a list of trading accounts from the profile of the API key.",
        "operationId": "ExchangeRESTAPI_GetAccounts",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiAccount"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Accounts"]
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "summary": "Get a single account by id",
        "description": "Information for a single account. Use this endpoint when you know the account_id. API key must belong to the same profile as the account.",
        "operationId": "ExchangeRESTAPI_GetAccount",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiAccount"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Accounts"]
      }
    },
    "/accounts/{account_id}/holds": {
      "get": {
        "summary": "Get a single account's holds",
        "description": "List the holds of an account that belong to the same profile as the API key. Holds are placed on an account for any active orders or pending withdraw requests. As an order is filled, the hold amount is updated. If an order is canceled, any remaining hold is removed. For withdrawals, the hold is removed after it is completed.",
        "operationId": "ExchangeRESTAPI_GetAccountHolds",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiAccountHold"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "100"
          }
        ],
        "tags": ["Accounts"]
      }
    },
    "/accounts/{account_id}/ledger": {
      "get": {
        "summary": "Get a single account's ledger",
        "description": "Lists ledger activity for an account. This includes anything that would affect the accounts balance - transfers, trades, fees, etc.",
        "operationId": "ExchangeRESTAPI_GetAccountLedger",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiAccountLedgerEntry"
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "404": {
            "description": "Not found.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          },
          "503": {
            "description": "Service Unavailable.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "description": "Returns list of ledger entries from this account id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "Search by minimum posted date time and is inclusive of time provided. Valid formats are either RFC3339, date or date time and must be after Unix Epoch time.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "Search by maximum posted date time and is inclusive of time provided. Valid formats are either RFC3339, date or date time and must be after Unix Epoch time.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "100"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Accounts"]
      }
    },
    "/accounts/{account_id}/transfers": {
      "get": {
        "summary": "Get a single account's transfers",
        "description": "Lists past withdrawals and deposits for an account.",
        "operationId": "ExchangeRESTAPI_GetAccountTransfers",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiTransfer"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "description": "Returns list of transfers from this account id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "100"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Accounts"]
      }
    },
    "/address-book": {
      "get": {
        "summary": "Get address book",
        "description": "Get all addresses stored in the address book.",
        "operationId": "ExchangeRESTAPI_GetAddressBook",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAddressBookResponseAddressInfo"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Address book"]
      },
      "post": {
        "summary": "Add addresses",
        "description": "Add new addresses to address book",
        "operationId": "ExchangeRESTAPI_PostAddressBook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostAddressBookResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostAddressBookRequest"
            }
          }
        ],
        "tags": ["Address book"]
      }
    },
    "/address-book/{id}": {
      "delete": {
        "summary": "Delete address",
        "description": "Delete address from address book",
        "operationId": "ExchangeRESTAPI_DeleteAddressBookEntry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Address book identifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Address book"]
      }
    },
    "/coinbase-accounts": {
      "get": {
        "summary": "Get all Coinbase wallets",
        "description": "Gets all the user's available Coinbase wallets (These are the wallets/accounts that are used for buying and selling on www.coinbase.com)",
        "operationId": "ExchangeRESTAPI_GetCoinbaseAccounts",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiCoinbaseAccount"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Coinbase accounts"]
      }
    },
    "/coinbase-accounts/{account_id}/addresses": {
      "post": {
        "summary": "Generate crypto address",
        "description": "Generates a one-time crypto address for depositing crypto.",
        "operationId": "ExchangeRESTAPI_PostCoinbaseAccountAddresses",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiCoinbaseAccountGeneratedDepositAddress"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostCoinbaseAccountAddressesRequest"
            }
          }
        ],
        "tags": ["Coinbase accounts"]
      }
    },
    "/conversions": {
      "get": {
        "summary": "Get all conversions",
        "description": "Gets all currency conversions (i.e. USD -\u003e USDC) for a given profile",
        "operationId": "ExchangeRESTAPI_GetAllConversions",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiConversion"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": ["Conversions"]
      },
      "post": {
        "summary": "Convert currency",
        "description": "Converts funds from `from` currency to `to` currency. Funds are converted on the `from` account in the `profile_id` profile.",
        "operationId": "ExchangeRESTAPI_PostConversion",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiConversion"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          },
          "503": {
            "description": "Service Unavailable.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostConversionRequest"
            }
          }
        ],
        "tags": ["Conversions"]
      }
    },
    "/conversions/fees": {
      "get": {
        "summary": "Get conversion fee rates",
        "description": "Gets a list of current conversion fee rates and trailing 30 day volume by currency pair",
        "operationId": "ExchangeRESTAPI_GetConversionFees",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiConversionFee"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Conversions"]
      }
    },
    "/conversions/{conversion_id}": {
      "get": {
        "summary": "Get a conversion",
        "description": "Gets a currency conversion by id (i.e. USD -\u003e USDC).",
        "operationId": "ExchangeRESTAPI_GetConversion",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiConversion"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "conversion_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Conversions"]
      }
    },
    "/currencies": {
      "get": {
        "summary": "Get all known currencies",
        "description": "Gets a list of all known currencies.\n Note: Not all currencies may be currently in use for trading.",
        "operationId": "ExchangeRESTAPI_GetCurrencies",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiCurrency"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Currencies"],
        "security": []
      }
    },
    "/currencies/{currency_id}": {
      "get": {
        "summary": "Get a currency",
        "description": "Gets a single currency by id.",
        "operationId": "ExchangeRESTAPI_GetCurrency",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiCurrency"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "currency_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Currencies"],
        "security": []
      }
    },
    "/deposits/coinbase-account": {
      "post": {
        "summary": "Deposit from Coinbase account",
        "description": "Deposits funds from a www.coinbase.com wallet to the specified `profile_id`.",
        "operationId": "ExchangeRESTAPI_PostDepositCoinbaseAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostDepositCoinbaseAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "403": {
            "description": "Forbidden.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostDepositCoinbaseAccountRequest"
            }
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/deposits/payment-method": {
      "post": {
        "summary": "Deposit from payment method",
        "description": "Deposits funds from a linked external payment method to the specified `profile_id`.",
        "operationId": "ExchangeRESTAPI_PostDepositPaymentMethod",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostDepositPaymentMethodResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostDepositPaymentMethodRequest"
            }
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/fees": {
      "get": {
        "summary": "Get fees",
        "description": "Get fees rates and 30 days trailing volume.",
        "operationId": "ExchangeRESTAPI_GetFees",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiFees"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Fees"]
      }
    },
    "/fills": {
      "get": {
        "summary": "Get all fills",
        "description": "Get a list of fills. A fill is a partial or complete match on a specific order.",
        "operationId": "ExchangeRESTAPI_GetFills",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiOrderFill"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "limit to fills on a specific order. Either `order_id` or `product_id` is required.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_id",
            "description": "limit to fills on a specific product. Either `order_id` or `product_id` is required.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "100"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "market_type",
            "description": "Market type which the order was filled in.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["spot", "rfq"],
            "default": "spot"
          },
          {
            "name": "start_date",
            "description": "Search by minimum posted date time and is inclusive of time provided. Valid formats are either RFC3339, date or date time and must be after Unix Epoch time.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "Search by maximum posted date time and is inclusive of time provided. Valid formats are either RFC3339, date or date time and must be after Unix Epoch time.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/loans": {
      "get": {
        "summary": "List loans",
        "description": "Accepts zero or more loan IDs as input. If no loan IDs are specified, it returns all loans for the user. Otherwise it returns only the loan IDs specified.",
        "operationId": "ExchangeRESTAPI_GetLoans",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiLoan"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/assets": {
      "get": {
        "summary": "List loan assets",
        "description": "Get a list of lendable assets, a map of assets we accept as collateral for loans, and the haircut weight.",
        "operationId": "ExchangeRESTAPI_GetLoanAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGetLoanAssetsResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Loans"]
      }
    },
    "/loans/interest": {
      "get": {
        "summary": "List interest summaries",
        "description": "List summaries of interest owed by asset",
        "operationId": "ExchangeRESTAPI_GetInterestSummary",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiInterestSummary"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Loans"]
      }
    },
    "/loans/interest/history/{loan_id}": {
      "get": {
        "summary": "List interest rate history",
        "description": "List interest rate history for a loan",
        "operationId": "ExchangeRESTAPI_GetInterestHistory",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiInterestRate"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "loan_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/interest/{loan_id}": {
      "get": {
        "summary": "List interest charges",
        "description": "List interest charges for a loan",
        "operationId": "ExchangeRESTAPI_GetInterestCharges",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiInterestCharge"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "loan_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/lending-overview": {
      "get": {
        "summary": "Get lending overview",
        "description": "This API summarizes lending for a given client. It calculates the overall loan balance, collateral level, and amounts available to borrow. It also returns any withdrawal restrictions in force on the client.",
        "operationId": "ExchangeRESTAPI_GetLoanLendingOverview",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiLendingOverviewResult"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Loans"]
      }
    },
    "/loans/loan-preview": {
      "get": {
        "summary": "Get new loan preview",
        "description": "This API is similar to lending-overview but is used to preview the results of opening a new loan. The values returned in the preview response take the existing loans, collateral and the potential change being previewed into account. Note the preview request accepts native currency amounts as input.",
        "operationId": "ExchangeRESTAPI_GetLoanPreview",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGetPreviewResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "native_amount",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/open": {
      "post": {
        "summary": "Open new loan",
        "description": "This API triggers a loan open request. Funding is not necessarily instantaneous and there is no SLA. You are notified when funds have settled in your Exchange account. Loan open requests, once initiated, cannot be canceled.",
        "operationId": "ExchangeRESTAPI_OpenLoan",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiOpenLoanResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiOpenLoanRequest"
            }
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/options": {
      "get": {
        "summary": "List new loan options",
        "description": "Get available currencies and interest rates for new loans. All amounts returned by this API are notional values (i.e., USD).",
        "operationId": "ExchangeRESTAPI_GetNewLoanOptions",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiNewLoanOption"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Loans"]
      }
    },
    "/loans/repay-interest": {
      "post": {
        "summary": "Repay loan interest",
        "description": "Submit an interest repayment for a loan.",
        "operationId": "ExchangeRESTAPI_RepayInterest",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiRepayInterestResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiRepayInterestRequest"
            }
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/repay-principal": {
      "post": {
        "summary": "Repay loan principal",
        "description": "Submit a principal repayment for a loan.",
        "operationId": "ExchangeRESTAPI_RepayPrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiRepayPrincipalResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiRepayPrincipalRequest"
            }
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/loans/repayment-preview": {
      "get": {
        "summary": "Get principal repayment preview",
        "description": "Preview the results of a loan principal repayment.",
        "operationId": "ExchangeRESTAPI_GetRepaymentPreview",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGetPreviewResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "loan_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "native_amount",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Loans"]
      }
    },
    "/margin/auto-loan": {
      "get": {
        "summary": "Get auto loan setting",
        "description": "Get the setting to automatically initiate loans to meet margin calls with Coinbase affiliates in accordance with the Lending Agreement and Side Letter",
        "operationId": "ExchangeRESTAPI_GetFcmAutoLoan",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGetFcmAutoLoanResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Futures"]
      },
      "post": {
        "summary": "Set auto loan",
        "description": "Automatically initiate loans to meet margin calls with Coinbase affiliates in accordance with the Lending Agreement and Side Letter",
        "operationId": "ExchangeRESTAPI_PostFcmAutoLoan",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostFcmAutoLoanResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostFcmAutoLoanRequest"
            }
          }
        ],
        "tags": ["Futures"]
      }
    },
    "/margin/usdc": {
      "get": {
        "summary": "Get USDC conversion",
        "description": "Get the USDC to USD auto conversion setting to meet margin calls with eligible Coinbase Affiliate",
        "operationId": "ExchangeRESTAPI_GetFcmUsdcMargin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGetFcmUsdcMarginResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Futures"]
      },
      "post": {
        "summary": "Set USDC conversion",
        "description": "Set the USDC to USD auto conversion to meet margin calls with eligible Coinbase Affiliate",
        "operationId": "ExchangeRESTAPI_PostFcmUsdcMargin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostFcmUsdcMarginResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostFcmUsdcMarginRequest"
            }
          }
        ],
        "tags": ["Futures"]
      }
    },
    "/orders": {
      "get": {
        "summary": "Get all orders",
        "description": "List your current open orders. Only open or un-settled orders are returned by default. As soon as an order is no longer open and settled, it will no longer appear in the default request. Open orders may change state between the request and the response depending on market conditions.",
        "operationId": "ExchangeRESTAPI_GetOrders",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiOrder"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "description": "Filter results by a specific profile_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_id",
            "description": "Filter results by a specific product_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortedBy",
            "description": "Sort criteria for results.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["created_at", "price", "size", "order_id", "side", "type"],
            "default": "created_at"
          },
          {
            "name": "sorting",
            "description": "Ascending or descending order, by `sortedBy`",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["desc", "asc"],
            "default": "desc"
          },
          {
            "name": "start_date",
            "description": "Filter results by minimum posted date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "Filter results by maximum posted date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64",
            "default": "100"
          },
          {
            "name": "status",
            "description": "Array with order statuses to filter by.",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "open",
                "pending",
                "rejected",
                "done",
                "active",
                "received",
                "all"
              ]
            },
            "collectionFormat": "multi",
            "default": "['open', 'pending']"
          },
          {
            "name": "market_type",
            "description": "Market type which the order was traded in.",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "spot"
          }
        ],
        "tags": ["Orders"]
      },
      "delete": {
        "summary": "Cancel all orders",
        "description": "With best effort, cancel all open orders. This may require you to make the request multiple times until all of the open orders are deleted.",
        "operationId": "ExchangeRESTAPI_DeleteOrders",
        "responses": {
          "200": {
            "description": "A list of the `id`s of open orders that were successfully cancelled",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of the `id`s of open orders that were successfully cancelled"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "description": "Cancels orders on a specific profile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_id",
            "description": "Cancels orders on a specific product only",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Orders"]
      },
      "post": {
        "summary": "Create a new order",
        "description": "Create an order. You can place two types of orders: limit and market. Orders can only be placed if your account has sufficient funds. Once an order is placed, your account funds will be put on hold for the duration of the order. How much and which funds are put on hold depends on the order type and parameters specified.",
        "operationId": "ExchangeRESTAPI_PostOrders",
        "responses": {
          "200": {
            "description": "The new order that was successfully created",
            "schema": {
              "$ref": "#/definitions/apiOrder",
              "description": "The new order that was successfully created"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostOrdersRequest"
            }
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/orders/{order_id}": {
      "get": {
        "summary": "Get single order",
        "description": "Get a single order by `id`.",
        "operationId": "ExchangeRESTAPI_GetOrder",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiOrder"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "`order_id` is either the exchange assigned id or the client assigned client_oid. When using client_oid it must be preceded by the client: namespace.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "market_type",
            "description": "Market type which the order was traded in.",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "spot"
          }
        ],
        "tags": ["Orders"]
      },
      "delete": {
        "summary": "Cancel an order",
        "description": "Cancel a single open order by `{id}`.",
        "operationId": "ExchangeRESTAPI_DeleteOrder",
        "responses": {
          "200": {
            "description": "the `id` of the order that was cancelled`",
            "schema": {
              "type": "string",
              "description": "the `id` of the order that was cancelled`"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "description": "Orders may be canceled using either the exchange assigned id or the client assigned client_oid. When using client_oid it must be preceded by the `client:` namespace.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profile_id",
            "description": "Cancels orders on a specific profile",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "product_id",
            "description": "Optional product id of order",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Orders"]
      }
    },
    "/payment-methods": {
      "get": {
        "summary": "Get all payment methods",
        "description": "Gets a list of the user's linked payment methods.",
        "operationId": "ExchangeRESTAPI_GetPaymentMethods",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiPaymentMethod"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Transfers"]
      }
    },
    "/products": {
      "get": {
        "summary": "Get all known trading pairs",
        "description": "Gets a list of available currency pairs for trading.",
        "operationId": "ExchangeRESTAPI_GetProducts",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiProduct"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/volume-summary": {
      "get": {
        "summary": "Get all product volume",
        "description": "Gets 30day and 24hour volume for all products and market types",
        "operationId": "ExchangeRESTAPI_GetProductsVolume",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiProductVolume"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/{product_id}": {
      "get": {
        "summary": "Get single product",
        "description": "Get information on a single product.",
        "operationId": "ExchangeRESTAPI_GetProduct",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProduct"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/{product_id}/book": {
      "get": {
        "summary": "Get product book",
        "description": "Get a list of open orders for a product. The amount of detail shown can be customized with the `level` parameter.",
        "operationId": "ExchangeRESTAPI_GetProductBook",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProductBook"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "1"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/{product_id}/candles": {
      "get": {
        "summary": "Get product candles",
        "description": "Historic rates for a product. Rates are returned in grouped buckets. Candle schema is of the form `[timestamp, price_low, price_high, price_open, price_close]`",
        "operationId": "ExchangeRESTAPI_GetProductCandles",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "description": "Timestamp for starting range of aggregations",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "description": "Timestamp for ending range of aggregations",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/{product_id}/stats": {
      "get": {
        "summary": "Get product stats",
        "description": "Gets 30day and 24hour stats for a product.",
        "operationId": "ExchangeRESTAPI_GetProductStats",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProductStats"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/{product_id}/ticker": {
      "get": {
        "summary": "Get product ticker",
        "description": "Gets snapshot information about the last trade (tick), best bid/ask and 24h volume.",
        "operationId": "ExchangeRESTAPI_GetProductTicker",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProductTicker"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/products/{product_id}/trades": {
      "get": {
        "summary": "Get product trades",
        "description": "Gets a list the latest trades for a product.",
        "operationId": "ExchangeRESTAPI_GetProductTrades",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiProductTrade"
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "description": "list trades for specific product.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "1000"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` id.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Products"],
        "security": []
      }
    },
    "/profiles": {
      "get": {
        "summary": "Get profiles",
        "description": "Gets a list of all of the current user's profiles.",
        "operationId": "ExchangeRESTAPI_GetProfiles",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiProfile"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": ["Profiles"]
      },
      "post": {
        "summary": "Create a profile",
        "description": "Create a new profile. Will fail if no name is provided or if user already has max number of profiles.",
        "operationId": "ExchangeRESTAPI_PostProfile",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProfile"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostProfileRequest"
            }
          }
        ],
        "tags": ["Profiles"]
      }
    },
    "/profiles/transfer": {
      "post": {
        "summary": "Transfer funds between profiles",
        "description": "Transfer an amount of currency from one profile to another.",
        "operationId": "ExchangeRESTAPI_PostProfileTransfer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostProfileTransferRequest"
            }
          }
        ],
        "tags": ["Profiles"]
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "summary": "Get profile by id",
        "description": "Information for a single profile. Use this endpoint when you know the profile_id.",
        "operationId": "ExchangeRESTAPI_GetProfile",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProfile"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": ["Profiles"]
      },
      "put": {
        "summary": "Rename a profile",
        "description": "Rename a profile. Names 'default' and 'margin' are reserved.",
        "operationId": "ExchangeRESTAPI_PutProfile",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiProfile"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPutProfileRequest"
            }
          }
        ],
        "tags": ["Profiles"]
      }
    },
    "/profiles/{profile_id}/deactivate": {
      "put": {
        "summary": "Delete a profile",
        "description": "Deletes the profile specified by `profile_id` and transfers all funds to the profile specified by `to`. Fails if there are any open orders on the profile to be deleted.",
        "operationId": "ExchangeRESTAPI_PutProfileDeactivate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPutProfileDeactivateRequest"
            }
          }
        ],
        "tags": ["Profiles"]
      }
    },
    "/reports": {
      "get": {
        "summary": "Get all reports",
        "description": "Gets a list of all user generated reports.",
        "operationId": "ExchangeRESTAPI_GetReports",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiReport"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "description": "Filter results by a specific profile_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Filter results after a specific date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "limit",
            "description": "Limit results to a specific number",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "100"
          },
          {
            "name": "type",
            "description": "Filter results by type of report. Possible values: [`account`, `balance`, `fills`, `otc-fills`, `rfq-fills`, `tax-invoice`, `1099k-transaction-history`]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ignore_expired",
            "description": "Ignore expired results",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": ["Reports"]
      },
      "post": {
        "summary": "Create a report",
        "description": "Generates a report. You can create reports with historical data for all report types. [Balance reports](#balance-reports) can be snapshots of historical or current data.",
        "operationId": "ExchangeRESTAPI_PostReports",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiReportCreateResult"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostReportsRequest"
            }
          }
        ],
        "tags": ["Reports"]
      }
    },
    "/reports/{report_id}": {
      "get": {
        "summary": "Get a report",
        "description": "Get a specific report by `report_id`.",
        "operationId": "ExchangeRESTAPI_GetReport",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiReport"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Reports"]
      }
    },
    "/transfers": {
      "get": {
        "summary": "Get all transfers",
        "description": "Gets a list of in-progress and completed transfers of funds in/out of any of the user's accounts.",
        "operationId": "ExchangeRESTAPI_GetTransfers",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiTransfer"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "profile_id",
            "description": "Returns list of transfers from this portfolio id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` date.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "30"
          },
          {
            "name": "type",
            "description": "Specifies deposit and withdrawal transfer types. Internal transfers represent the transfers of a user depositing/withdrawing across their own profiles.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "deposit",
              "withdraw",
              "internal_deposit",
              "internal_withdraw"
            ],
            "default": "deposit"
          },
          {
            "name": "currency_type",
            "description": "Filter results by type of currency. Possible values: [`crypto`, `fiat`]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "transfer_reason",
            "description": "Filter results by reason of transfer. Possible values: [`usdc_reward`]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "description": "Filter results by currency.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/transfers/{transfer_id}": {
      "get": {
        "summary": "Get a single transfer",
        "description": "Get information on a single transfer.",
        "operationId": "ExchangeRESTAPI_GetTransfer",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiTransfer"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/transfers/{transfer_id}/travel-rules": {
      "post": {
        "summary": "Submit travel information for a transfer",
        "description": "Submit travel information for a transfer",
        "operationId": "ExchangeRESTAPI_PostTransferTravelRule",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostTransferTravelRuleResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostTransferTravelRuleRequest"
            }
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/travel-rules": {
      "get": {
        "summary": "Get all travel rule information",
        "description": "Return a list of all stored travel rule information",
        "operationId": "ExchangeRESTAPI_GetTravelRules",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiTravelRulePii"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "before",
            "description": "Used for pagination. Sets start cursor to `before` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination. Sets end cursor to `after` id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": "1000"
          },
          {
            "name": "address",
            "description": "Optional filter by address",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Travel Rules"]
      },
      "post": {
        "summary": "Create travel rule entry",
        "description": "Create travel rule entry for sending address",
        "operationId": "ExchangeRESTAPI_PostTravelRule",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiTravelRulePii"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostTravelRuleRequest"
            }
          }
        ],
        "tags": ["Travel Rules"]
      }
    },
    "/travel-rules/{id}": {
      "delete": {
        "summary": "Delete existing travel rule entry",
        "description": "Delete existing travel rule entry",
        "operationId": "ExchangeRESTAPI_DeleteTravelRule",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Travel rule identifier",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Travel Rules"]
      }
    },
    "/users/{user_id}/exchange-limits": {
      "get": {
        "summary": "Get user exchange limits",
        "description": "Gets exchange limits information for a single user.",
        "operationId": "ExchangeRESTAPI_GetUserExchangeLimits",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiUserExchangeTransferLimits"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Users"]
      }
    },
    "/users/{user_id}/settlement-preferences": {
      "post": {
        "summary": "Update settlement preference",
        "description": "Updates the settlement preference to hold funds in either USDC or USD.",
        "operationId": "ExchangeRESTAPI_PostUserLevelSettlementPreferences",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiUserLevelSettlementPreference"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          },
          "503": {
            "description": "Service Unavailable.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "description": "The ID of the user who owns the account",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "self"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPostUserLevelSettlementPreferenceRequest"
            }
          }
        ],
        "tags": ["Users"]
      }
    },
    "/users/{user_id}/trading-volumes": {
      "get": {
        "summary": "Get user trading volume",
        "description": "Gets aggregated and individual trading volumes for users.",
        "operationId": "ExchangeRESTAPI_GetUserTradingVolumes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiGetUserVolResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "description": "The ID of the user who owns the account",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "self"
          }
        ],
        "tags": ["Users"]
      }
    },
    "/withdrawals/coinbase-account": {
      "post": {
        "summary": "Withdraw to Coinbase account",
        "description": "Withdraws funds from the specified `profile_id` to a www.coinbase.com wallet.",
        "operationId": "ExchangeRESTAPI_PostWithdrawCoinbaseAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostWithdrawCoinbaseAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostWithdrawCoinbaseAccountRequest"
            }
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/withdrawals/crypto": {
      "post": {
        "summary": "Withdraw to crypto address",
        "description": "Withdraws funds from the specified `profile_id` to an external crypto address",
        "operationId": "ExchangeRESTAPI_PostWithdrawCrypto",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiTransferResult"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostTransferCryptoRequest"
            }
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/withdrawals/fee-estimate": {
      "get": {
        "summary": "Get fee estimate for crypto withdrawal",
        "description": "Gets the fee estimate for the crypto withdrawal to crypto address",
        "operationId": "ExchangeRESTAPI_GetWithdrawFeeEstimate",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiFeeEstimateResult"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "crypto_address",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "network",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/withdrawals/payment-method": {
      "post": {
        "summary": "Withdraw to payment method",
        "description": "Withdraws funds from the specified `profile_id` to a linked external payment method",
        "operationId": "ExchangeRESTAPI_PostWithdrawPaymentMethod",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostWithdrawPaymentMethodResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostWithdrawPaymentMethodRequest"
            }
          }
        ],
        "tags": ["Transfers"]
      }
    },
    "/wrapped-assets": {
      "get": {
        "summary": "Get all wrapped assets",
        "description": "Returns a list of all supported wrapped assets details objects",
        "operationId": "ExchangeRESTAPI_GetWrappedAssets",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiWrappedAssets"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "tags": ["Wrapped assets"],
        "security": []
      }
    },
    "/wrapped-assets/redeem": {
      "get": {
        "summary": "Get all redeems",
        "description": "Get details for all redeems in the profile associated with the API key.",
        "operationId": "ExchangeRESTAPI_ListWrappedAssetRedeems",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiRedeem"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "before",
            "description": "Used for pagination, returns stake-wraps with created_at timestamps newer than before date. Example date format 2023-03-15T23:40:04.505Z.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination, returns stake-wraps with created_at timestamps older than after date. Example date format 2023-03-15T23:40:04.505Z.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "from_currency",
            "description": "from_currency, i.e. CBETH.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "to_currency",
            "description": "to_currency, i.e. ETH.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Wrapped assets"]
      },
      "post": {
        "summary": "Create a new redeem",
        "description": "Redeems `from_currency` to `to_currency`. Funds are redeemed in the profile associated with the API key.",
        "operationId": "ExchangeRESTAPI_PostWrappedAssetRedeem",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiPostWrappedAssetsRedeemResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostWrappedAssetRedeemRequest"
            }
          }
        ],
        "tags": ["Wrapped assets"]
      }
    },
    "/wrapped-assets/redeem/{redeem_id}": {
      "get": {
        "summary": "Get a single redeem",
        "description": "Get details for a specific redeem in the profile associated with the API key.",
        "operationId": "ExchangeRESTAPI_GetWrappedAssetRedeem",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiRedeem"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "redeem_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["Wrapped assets"]
      }
    },
    "/wrapped-assets/stake-wrap": {
      "get": {
        "summary": "Get all stake-wraps",
        "description": "Get details for all stake-wraps in the profile associated with the API key.",
        "operationId": "ExchangeRESTAPI_GetAllWrappedAssetStakeWraps",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/apiStakeWrap"
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "before",
            "description": "Used for pagination, returns stake-wraps with created_at timestamps newer than before date. Example date format 2023-03-15T23:40:04.505Z.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "after",
            "description": "Used for pagination, returns stake-wraps with created_at timestamps older than after date. Example date format 2023-03-15T23:40:04.505Z.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on number of results to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "from",
            "description": "from_currency, i.e. ETH.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "description": "to_currency, i.e. CBETH.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["Wrapped assets"]
      },
      "post": {
        "summary": "Create a new stake-wrap",
        "description": "Stakes and wraps `from_currency` to `to_currency`. Funds are stake-wrapped in the profile associated with the API key.",
        "operationId": "ExchangeRESTAPI_PostWrappedAssetStakeWrap",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiStakeWrap"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/apiUnauthorizedResponse"
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/apiErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/apiPublicPostWrappedAssetStakeWrapRequest"
            }
          }
        ],
        "tags": ["Wrapped assets"]
      }
    },
    "/wrapped-assets/stake-wrap/{stake_wrap_id}": {
      "get": {
        "summary": "Get a single stake-wrap",
        "description": "Get details for a specific stake-wrap in the profile associated with the API key.",
        "operationId": "ExchangeRESTAPI_GetWrappedAssetStakeWrap",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/apiStakeWrap"
            }
          },
          "401": {
[...]
